In [ ]:
"""
https://www.udemy.com/course/pandas-for-anybody/learn/lecture/28121624?start=0#overview
1,5 saat
Kelvin Fosu eğitimi
https://pandas.pydata.org/docs/user_guide/10min.html#min

atom, pycharm, anaconda kurdu

https://pandas.pydata.org/

covid dataset
https://covid19.who.int/table

anaconda prompttan pip list dersek python yüklü paketlerini görebiliriz
https://pypi.org/search/?q=text+to+speech
pypi dan da bakabiliriz 


https://covid19.who.int/data
https://covid19.who.int/WHO-COVID-19-global-data.csv
https://covid19.who.int/WHO-COVID-19-global-table-data.csv
https://covid19.who.int/who-data/vaccination-data.csv
https://covid19.who.int/who-data/vaccination-metadata.csv

"""

In [1]:
import numpy as np
import pandas as pd

In [ ]:
#conda install -c anaconda pandas-profiling
#sonra y/n çıkarsa y ile devam ederiz
#anaconda prompt yönetici olarak çalıştırılırsa daha iyi olabilir
#etkisi olmadı ancak denenebilir

In [2]:
y=pd.Series([1,2,3])
y

0    1
1    2
2    3
dtype: int64

In [3]:
k=pd.Series([1,2,3],index=["me","you","us"])
k

me     1
you    2
us     3
dtype: int64

In [4]:
k['me']

1

In [5]:
y[2]

3

In [6]:
#DataFrame

In [8]:
#df csv, dictionary ve jsondan oluşturulabilir

In [9]:
m=pd.DataFrame({'Name':['Kelvin','Rose','Enoch'],'food':['rice','waakye','beans'],'age':[10,20,30]})
m

     Name    food  age
0  Kelvin    rice   10
1    Rose  waakye   20
2   Enoch   beans   30

In [10]:
m.shape

(3, 3)

In [11]:
m.values

array([['Kelvin', 'rice', 10],
       ['Rose', 'waakye', 20],
       ['Enoch', 'beans', 30]], dtype=object)

In [13]:
m.columns

Index(['Name', 'food', 'age'], dtype='object')

In [14]:
m.dtypes

Name    object
food    object
age      int64
dtype: object

In [15]:
#WHO-COVID-19-global-data.csv  bu data üzerinden gidiyor

In [ ]:
#!pip install pandas-profiling

In [46]:
#import sys
#!{sys.executable} -m pip install pandas-profiling

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(color_codes=True)

In [10]:
import pandas_profiling as pp
#from pandas_profiling import ProfileReport

ImportError: cannot import name 'ABCIndexClass' from 'pandas.core.dtypes.generic' (C:\Users\Bootcamp\Anaconda3\lib\site-packages\pandas\core\dtypes\generic.py)

In [13]:
dfcovid=pd.read_csv('WHO-COVID-19-global-data.csv')

In [14]:
dfcovid

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
227041,2022-08-13,ZW,Zimbabwe,AFRO,0,256522,0,5587
227042,2022-08-14,ZW,Zimbabwe,AFRO,17,256539,1,5588
227043,2022-08-15,ZW,Zimbabwe,AFRO,0,256539,0,5588
227044,2022-08-16,ZW,Zimbabwe,AFRO,22,256561,0,5588
227045,2022-08-17,ZW,Zimbabwe,AFRO,0,256561,0,5588

In [6]:
pp.ProfileReport(dfcovid)
#pandas downgrade etmek ya da beklemek gerekiyor uyumlu çalışsın diye

NameError: name 'pp' is not defined

In [15]:
dfcovid.index

RangeIndex(start=0, stop=227046, step=1)

In [16]:
dfcovid.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [17]:
dfcovid.values

array([['2020-01-03', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-04', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-05', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ...,
       ['2022-08-15', 'ZW', 'Zimbabwe', ..., 256539, 0, 5588],
       ['2022-08-16', 'ZW', 'Zimbabwe', ..., 256561, 0, 5588],
       ['2022-08-17', 'ZW', 'Zimbabwe', ..., 256561, 0, 5588]],
      dtype=object)

In [18]:
dfcovid.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [19]:
dfcovid.shape

(227046, 8)

In [21]:
dfcovid.head(10)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
5,2020-01-08,AF,Afghanistan,EMRO,0,0,0,0
6,2020-01-09,AF,Afghanistan,EMRO,0,0,0,0
7,2020-01-10,AF,Afghanistan,EMRO,0,0,0,0
8,2020-01-11,AF,Afghanistan,EMRO,0,0,0,0
9,2020-01-12,AF,Afghanistan,EMRO,0,0,0,0

In [22]:
dfcovid.tail(10)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
227036,2022-08-08,ZW,Zimbabwe,AFRO,10,256487,0,5584
227037,2022-08-09,ZW,Zimbabwe,AFRO,3,256490,2,5586
227038,2022-08-10,ZW,Zimbabwe,AFRO,2,256492,1,5587
227039,2022-08-11,ZW,Zimbabwe,AFRO,21,256513,0,5587
227040,2022-08-12,ZW,Zimbabwe,AFRO,9,256522,0,5587
227041,2022-08-13,ZW,Zimbabwe,AFRO,0,256522,0,5587
227042,2022-08-14,ZW,Zimbabwe,AFRO,17,256539,1,5588
227043,2022-08-15,ZW,Zimbabwe,AFRO,0,256539,0,5588
227044,2022-08-16,ZW,Zimbabwe,AFRO,22,256561,0,5588
227045,2022-08-17,ZW,Zimbabwe,AFRO,0,256561,0,5588

In [23]:
dfcovid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227046 entries, 0 to 227045
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      227046 non-null  object
 1   Country_code       226088 non-null  object
 2   Country            227046 non-null  object
 3   WHO_region         227046 non-null  object
 4   New_cases          227046 non-null  int64
 5   Cumulative_cases   227046 non-null  int64
 6   New_deaths         227046 non-null  int64
 7   Cumulative_deaths  227046 non-null  int64
dtypes: int64(4), object(4)
memory usage: 13.9+ MB

In [24]:
dfcovid.describe()

          New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  2.270460e+05      2.270460e+05  227046.000000       2.270460e+05
mean   2.597185e+03      8.148192e+05      28.348965       1.347064e+04
std    1.652384e+04      4.085712e+06     154.983620       6.091542e+04
min   -3.295200e+04      0.000000e+00   -2440.000000       0.000000e+00
25%    0.000000e+00      4.410000e+02       0.000000       4.000000e+00
50%    2.200000e+01      1.572600e+04       0.000000       1.900000e+02
75%    4.910000e+02      2.236452e+05       5.000000       3.417000e+03
max    1.255831e+06      9.184634e+07   11447.000000       1.027094e+06

In [25]:
dfcovid.Country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'Côte d’Ivoire', 'Croatia', 'Cuba', 'Curaçao',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saba', 'Saint Barthélemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Eustatius', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Türkiye', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [27]:
dfcovid.WHO_region.unique()

array(['EMRO', 'EURO', 'AFRO', 'WPRO', 'AMRO', 'SEARO', 'Other'],
      dtype=object)

In [28]:
#Kolonlarıdaki boşlukları silelim
dfcovid.columns = [col.strip() for col in dfcovid.columns]
dfcovid.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [29]:
dfcovid.min()

C:\Users\Bootcamp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Date_reported         2020-01-03
Country              Afghanistan
WHO_region                  AFRO
New_cases                 -32952
Cumulative_cases               0
New_deaths                 -2440
Cumulative_deaths              0
dtype: object

In [30]:
dfcovid.max()

C:\Users\Bootcamp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Date_reported                                               2022-08-17
Country              occupied Palestinian territory, including east...
WHO_region                                                        WPRO
New_cases                                                      1255831
Cumulative_cases                                              91846336
New_deaths                                                       11447
Cumulative_deaths                                              1027094
dtype: object

In [31]:
dfcovid.mean()
#uzun sürüyor

C:\Users\Bootcamp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

New_cases              2597.184571
Cumulative_cases     814819.152361
New_deaths               28.348965
Cumulative_deaths     13470.637082
dtype: float64

In [32]:
dfcovid.std()

C:\Users\Bootcamp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

New_cases            1.652384e+04
Cumulative_cases     4.085712e+06
New_deaths           1.549836e+02
Cumulative_deaths    6.091542e+04
dtype: float64

In [33]:
dfcovid.count()

Date_reported        227046
Country_code         226088
Country              227046
WHO_region           227046
New_cases            227046
Cumulative_cases     227046
New_deaths           227046
Cumulative_deaths    227046
dtype: int64

In [34]:
dfcovid.Country=='United States of America'

0         False
1         False
2         False
3         False
4         False
          ...
227041    False
227042    False
227043    False
227044    False
227045    False
Name: Country, Length: 227046, dtype: bool

In [35]:
dfcovid[dfcovid.Country=='United States of America']

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
216508,2020-01-03,US,United States of America,AMRO,0,0,0,0
216509,2020-01-04,US,United States of America,AMRO,0,0,0,0
216510,2020-01-05,US,United States of America,AMRO,0,0,0,0
216511,2020-01-06,US,United States of America,AMRO,0,0,0,0
216512,2020-01-07,US,United States of America,AMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
217461,2022-08-13,US,United States of America,AMRO,116117,91565590,467,1026168
217462,2022-08-14,US,United States of America,AMRO,129835,91695425,571,1026739
217463,2022-08-15,US,United States of America,AMRO,13609,91709034,16,1026755
217464,2022-08-16,US,United States of America,AMRO,10045,91719079,2,1026757
217465,2022-08-17,US,United States of America,AMRO,127257,91846336,337,1027094

In [36]:
#kolonları rename etmek istersek dictionary üzerinden gidebiliriz
#dfcovid = dfcovid.rename(columns={"Deaths - cumulative total":"Total Deaths","Cases - cumulative total per 100000 population":"Cases cum Per Thousand Pop"})

In [37]:
dfcovid.reset_index()

,index,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...,...
227041,227041,2022-08-13,ZW,Zimbabwe,AFRO,0,256522,0,5587
227042,227042,2022-08-14,ZW,Zimbabwe,AFRO,17,256539,1,5588
227043,227043,2022-08-15,ZW,Zimbabwe,AFRO,0,256539,0,5588
227044,227044,2022-08-16,ZW,Zimbabwe,AFRO,22,256561,0,5588
227045,227045,2022-08-17,ZW,Zimbabwe,AFRO,0,256561,0,5588

In [39]:
dfcovid.reset_index().head(41)

,index,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
5,5,2020-01-08,AF,Afghanistan,EMRO,0,0,0,0
6,6,2020-01-09,AF,Afghanistan,EMRO,0,0,0,0
7,7,2020-01-10,AF,Afghanistan,EMRO,0,0,0,0
8,8,2020-01-11,AF,Afghanistan,EMRO,0,0,0,0
9,9,2020-01-12,AF,Afghanistan,EMRO,0,0,0,0
10,10,2020-01-13,AF,Afghanistan,EMRO,0,0,0,0
11,11,2020-01-14,AF,Afghanistan,EMRO,0,0,0,0
12,12,2020-01-15,AF,Afghanistan,EMRO,0,0,0,0
13,13,2020-01-16,AF,Afghanistan,EMRO,0,0,0,0
14,14,2020-01-17,AF,Afghanistan,EMRO,0,0,0,0
15,15,2020-01-18,AF,Afghanistan,EMRO,0,0,0,0
16,16,2020-01-19,AF,Afghanistan,EMRO,0,0,0,0
17,17,2020-01-20,AF,Afghanistan,EMRO,0,0,0,0
18,18,2020-01-21,AF,Afghanistan,EMRO,0,0,0,0
19,19,2020-01-22,AF,Afghanistan,EMRO,0,0,0,0
20,20,2020-01-23,AF,Afghanistan,EMRO,0,0,0,0
21,21,2020-01-24,AF,Afghanistan,EMRO,0,0,0,0
22,22,2020-01-25,AF,Afghanistan,EMRO,0,0,0,0
23,23,2020-01-26,AF,Afghanistan,EMRO,0,0,0,0
24,24,2020-01-27,AF,Afghanistan,EMRO,0,0,0,0
25,25,2020-01-28,AF,Afghanistan,EMRO,0,0,0,0
26,26,2020-01-29,AF,Afghanistan,EMRO,0,0,0,0
27,27,2020-01-30,AF,Afghanistan,EMRO,0,0,0,0
28,28,2020-01-31,AF,Afghanistan,EMRO,0,0,0,0
29,29,2020-02-01,AF,Afghanistan,EMRO,0,0,0,0
30,30,2020-02-02,AF,Afghanistan,EMRO,0,0,0,0
31,31,2020-02-03,AF,Afghanistan,EMRO,0,0,0,0
32,32,2020-02-04,AF,Afghanistan,EMRO,0,0,0,0
33,33,2020-02-05,AF,Afghanistan,EMRO,0,0,0,0
34,34,2020-02-06,AF,Afghanistan,EMRO,0,0,0,0
35,35,2020-02-07,AF,Afghanistan,EMRO,0,0,0,0
36,36,2020-02-08,AF,Afghanistan,EMRO,0,0,0,0
37,37,2020-02-09,AF,Afghanistan,EMRO,0,0,0,0
38,38,2020-02-10,AF,Afghanistan,EMRO,0,0,0,0
39,39,2020-02-11,AF,Afghanistan,EMRO,0,0,0,0
40,40,2020-02-12,AF,Afghanistan,EMRO,0,0,0,0

In [40]:
dfcovid.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [ ]:
#Yeni kolon ekleme
#dfcovid['Testing_cases'] = (dfcovid["Cases - newly reported in last 7 days"]/dfcovid["Total deaths"])*100
#dfcovid
#egitimdeki dataya göre yazıldı şimdi elimizdeki dataya göre yapalım

In [41]:
dfcovid['Testing_cases'] = (dfcovid["New_cases"]/dfcovid["Cumulative_deaths"])*100
dfcovid

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,Testing_cases
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0,NaN
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0,NaN
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0,NaN
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0,NaN
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...
227041,2022-08-13,ZW,Zimbabwe,AFRO,0,256522,0,5587,0.000000
227042,2022-08-14,ZW,Zimbabwe,AFRO,17,256539,1,5588,0.304223
227043,2022-08-15,ZW,Zimbabwe,AFRO,0,256539,0,5588,0.000000
227044,2022-08-16,ZW,Zimbabwe,AFRO,22,256561,0,5588,0.393701
227045,2022-08-17,ZW,Zimbabwe,AFRO,0,256561,0,5588,0.000000

In [42]:
#df['sum_covidset'] = (df['testing_case']+ df['new_cases'])
#df

In [44]:
#df = df.drop(['sum_covidset'],axis=1) ile kolonu silebiliriz

In [45]:
dfcovid.isnull()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,Testing_cases
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...
227041,False,False,False,False,False,False,False,False,False
227042,False,False,False,False,False,False,False,False,False
227043,False,False,False,False,False,False,False,False,False
227044,False,False,False,False,False,False,False,False,False
227045,False,False,False,False,False,False,False,False,False

In [46]:
print(dfcovid.isnull())

        Date_reported  Country_code  Country  WHO_region  New_cases  \
0               False         False    False       False      False
1               False         False    False       False      False
2               False         False    False       False      False
3               False         False    False       False      False
4               False         False    False       False      False
...               ...           ...      ...         ...        ...
227041          False         False    False       False      False
227042          False         False    False       False      False
227043          False         False    False       False      False
227044          False         False    False       False      False
227045          False         False    False       False      False

        Cumulative_cases  New_deaths  Cumulative_deaths  Testing_cases
0                  False       False              False           True
1                  False       False              False           True
2                  False       False              False           True
3                  False       False              False           True
4                  False       False              False           True
...                  ...         ...                ...            ...
227041             False       False              False          False
227042             False       False              False          False
227043             False       False              False          False
227044             False       False              False          False
227045             False       False              False          False

[227046 rows x 9 columns]

In [47]:
print(dfcovid.isnull().sum())

Date_reported            0
Country_code           958
Country                  0
WHO_region               0
New_cases                0
Cumulative_cases         0
New_deaths               0
Cumulative_deaths        0
Testing_cases        41252
dtype: int64

In [48]:
#https://medium.com/wicds/a-comprehensive-guide-to-pandas-for-data-science-64ed1be1bafe
#https://medium.com/swlh/the-mastery-of-pandas-i-50156db42125

In [49]:
#titanic dataset
#https://www.kaggle.com/code/gokultalele/titanic-machine-learning-from-disaster/data
#3 adet dosya indirildi  gender_submission, train test.csv

In [50]:
#https://exercism.org/